<h1><%= @song.title %></h1>

<%= image_tag @song.image, :class => 'feature' %>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value => "#{ @song.title }" %>

  <%= f.label :artist %>
  <%= f.text_field :artist, :value => "#{@song.artist}" %>

  <%= f.label :album %>
  <%= f.text_field :album, :value => "#{@song.album}" %>

  <%= f.label :image %>
  <%= f.url_field :image, :value => "#{@song.image}" %>

  <%= label_tag :playlist_id %>
  <%= collection_check_boxes :song, :playlist_ids, Playlist.where(user_id: session[:user_id]), :id, :title do |b| %>
    <%= b.check_box %>
    <%= b.label %>
  <% end %>
  <!-- The collection boxes allow the user to add that song to diferent playlists %> -->

  <%= f.submit "Save" %>

<% end %>
