<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container">
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item"><%= link_to 'Home', root_path, :class => "nav-link active" %></li>
          <li class="nav-item">
              <%= link_to "Songs", songs_path, :class => "nav-link active" %>
          </li>
          <li class="nav-item">
              <%= link_to "Search Songs", new_song_path, :class => "nav-link active" %>
          </li>
          <li class="nav-item">
              <%= link_to "Playlists", playlists_path, :class => "nav-link active" %>
          </li>
          <li class="nav-item">
              <%= link_to "New playlist", new_playlist_path, :class => "nav-link active" %>
          </li>
          <% if @current_user.present? %>
          <li class="nav-item">
            <%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete', :class => "nav-link active" %>
          </li>
          <% else %>
          <li class="nav-item"><%= link_to 'Sign up', new_user_path, :class => "nav-link active" %></li>
          <li class="nav-item"><%= link_to 'Sign in', login_path, :class => "nav-link active" %></li>
          <% end %>
        </ul>


        <!-- <% if @spotify_user.present? %>
          <%= link_to "Log out #{ @spotify_user.display_name }", "/auth/spotify", :method => 'delete' %>
        <% else %>
          <%= link_to 'Sign in with Spotify', "/auth/spotify" %>
        <% end %>
          Sign in to spotify user account
      -->

      </nav>
      <%= yield %>
    </div>

  </body>
</html>
